
#title{
    color: rgb(20, 125, 122);
}

.label{
    color: rgb(20, 125, 122);
}

.help{
    color: rgb(20, 125, 122);
}

.color{
    color: rgb(20, 125, 122);
}

.button{
    display: inline-block;
}