* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
  /* background-color: rgba(236, 231, 231, 0.489);
  border-radius: 10%;
  box-shadow: 3px 3px 3px 3px #b8b8b860 ; */
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.text-color {
  color: rgb(217, 217, 217);
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
  background-color: rgb(66, 64, 64);
}

.section-container {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.image-container {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.div-container {
  margin: 10px;
  background-color: rgba(236, 231, 231, 0.489);
  border-radius: 10%;
  box-shadow: 3px 3px 3px 3px #b8b8b860;

}

.footer-container {
  display: flex;
  justify-content: center;
}

div:hover{
  background-color: rgba(126, 124, 124, 0.581);
  transform: translateY(-8px);
  transition: 500ms ease-in-out;
  /* transition: 1s cubic-bezier(.05,.92,.97,0); */

}

h4 {
  color: rgb(66, 64, 64);
  text-align: center;
  margin-bottom: 4px;
  margin-top: 4px;
}

hr {
  display: block;
  margin: 10px;
  width: 100em;
  max-width: 300px;
}
